* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: wheat;
}
header,
section,
footer {
  padding: 2rem;
}
a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
a:hover {
  background-color: dark rgb(119, 128, 119);
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: wheat;
}
nav ul li {
  display: inline-block;
}
section {
  min-height: 50vh;
  scroll-margin-top: 5rem;
}

section:first-child,
header {
  background-color: rgb(143, 82, 100);
}
section:nth-child(2) {
  background-color: rgb(139, 101, 113);
}
section:last-child {
  background-color: rgb(139, 113, 122);
}
#section1,
#section2,
#section3 {
  height: 50vh;
}
