* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: wheat;
}
header,
section,
footer {
  padding: 2rem;
}
header a {
}
a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}
a:hover {
  background-color: dark rgb(20, 238, 20);
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: wheat;
}
nav ul li {
  display: inline-block;
}

nav ul li:hover {
  background-color: rgb(88, 81, 81);
}

section {
  min-height: 50vh;
  scroll-margin-top: 5rem;
}

section:first-child,
header {
  background-color: rgb(143, 82, 100);
}
section:nth-child(2) {
  background-color: rgb(139, 101, 113);
}
section:last-child {
  background-color: rgb(139, 113, 122);
}
#section1,
#section2,
#section3 {
  height: 50vh;
}

.bg {
  background-color: white;
}
.bg a {
  color: #333;
}

#backToTop {
  background-color: orange;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-family: inherit;
  cursor: pointer;
  color: white;
  display: none;
}
.material-icons {
  font-size: 1rem;
}
#backToTop .material-icons {
  font-size: 1rem;
}
@media (max-width: 576px) {
  #mobileButton {
    display: block;
  }
  nav ul {
    display: none;
  }
  nav.responsive ul {
    background-color: white;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    display: block;
  }
  nav.responsive ul li {
    display: block;
  }
  nav.responsive a {
    color: #333;
    display: block;
  }
}
