* {
  font-family: "Raleway", sans-serif;
  font-style: black;
  /*font-family: "Italiana", serif;*/
}
body {
  background-color: #f0f5f9;
  align-items: center;
}
.container {
  background-color: #f0f5f9;
  margin: auto;
  padding: 50px;

  width: 1328px;
  height: 1700px;
}
header * {
  display: inline-block;
}

#header-one {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(#5585b5 10%, white 90%);
  width: 1328;
  display: flex;
  justify-content: space-between;
}
#header-two {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: linear-gradient(white 20%, #f0f5f9 80%);
  /* background-image: linear-gradient(
    135deg,
    rgba(52, 152, 219, 0.5) 0%,
    rgba(243, 65, 65, 0.4) 100%
  );*/
}

header li {
  margin: 10px;
}

a {
  color: rgb(117, 117, 129);
  text-decoration: none;
}

label {
  font-size: 13px;
  font-weight: lighter;
}

h1 {
  font-size: 50px;
}

h3 {
  display: flex;
  justify-items: flex-start;
  font-size: 16px;
  font-weight: lighter;
}

p {
  font-size: 13px;
  font-weight: lighter;
}

picture * {
  float: initial;
  width: 200px;
  height: 100px;
  padding: 10px 10px 10px 20px;
}

picture img {
  float: left;
}

h4 {
  margin-top: 100px;
  margin-left: 353px;
  font-size: 16px;
  font-weight: 250;
}

.form-field {
  padding-left: 100px;
}

.form-field input {
  width: 50%;
  border-radius: 5px;
  background: top;
  font-size: 12px;
  font-weight: 300;
  font-style: black;
  border: 1px solid rgb(15, 15, 15);
}

.name {
  margin: 5px 0px 5px 73px;
  padding-bottom: 5px;
}

.email {
  margin: 5px 0px 5px 75px;
  padding-bottom: 5px;
}

.messagee {
  margin: 5px 0px 5px 46px;
  padding-bottom: 60px;
}

.submit {
  margin-left: 315px;

  padding: 8px 60px 8px 60px;
  border-radius: 10px;
  border: 1px solid black;
}
footer {
}
