* {
  font-family: "Raleway", sans-serif;
  color: black;

  /*font-family: "Italiana", serif;
  font-family: 'Comfortaa', cursive;
  */
}
body {
  background-color: #f0f5f9;
  align-items: center;
}
.container {
  background-color: #f0f5f9;
  margin: auto;
  padding: 50px;

  width: 1328px;
  height: 2500px;
}
header * {
  display: inline-block;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(#5585b5 10%, white 90%);
  width: 91%;
  display: flex;
  justify-content: space-between;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 0%;
}
.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
img {
  height: 200px;
}

header li {
  margin: 10px;
}

a {
  color: rgb(117, 117, 129);
  text-decoration: none;
  color: black;
}

label {
  font-size: 14px;
  font-weight: lighter;
}

h1 {
  font-family: "Comfortaa";
  font-size: 70px;
  display: flex;
}
.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  height: 350px;
  width: 370px;
  border-color: black;
  border: solid;
  display: inline-block;
  border-radius: 3px;
}
.box:hover {
  height: 370px;
  width: 390px;
  border-color: rgb(247, 244, 244);
  border: solid;
  display: inline-block;
  border-radius: 0px;
}

section {
  margin-top: 0px;

  height: 400px;
}
.about-me {
  background-color: rgb(239, 230, 230);
  border-radius: 5px;
}

.skills {
  background-color: #9b5871;
  border-radius: 5px;
}
p {
  font-size: 14px;
  font-weight: lighter;
}

picture * {
  float: initial;
  width: 200px;
  height: 100px;
  padding: 10px 10px 10px 20px;
}

picture img {
  float: left;
}

h4 {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-top: 50px;
  margin-left: 398px;
  font-size: 26px;
  font-weight: 250;
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field input {
  width: 50%;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 900;

  border: 1px solid rgb(221, 215, 215);
}

.name {
  margin: 5px 0px 5px 73px;
  padding-bottom: 5px;
}

.email {
  margin: 5px 0px 5px 75px;
  padding-bottom: 5px;
}

.message {
  margin: 5px 0px 5px 46px;
  padding-bottom: 60px;
}

.submit {
  padding: 12px 80px 12px 80px;
  border-radius: 10px;
  border: 1px solid rgb(173, 117, 20);
  background-color: rgb(173, 117, 20);
  margin-left: 400px;
}
footer {
  background-color: rgb(194, 187, 187);
  height: 450px;
}
.copy-right {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
