body {
  background-image: linear-gradient(rgb(19, 19, 164), white);
  background-color: rgb(24, 148, 101);
  background-repeat: no-repeat;
}

label {
  display: inline-block;
  width: 30px;
  margin: 10px;
  padding: 20px;
}

.warning {
  color: orange;
}

.normal {
  color: green;
}

.danger {
  color: red;
}
